
@{
    ViewBag.Title = "Surveys";
}

<h2>Surveys</h2>
<section>
    <table class="table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Zip Code</th>
                <th>Surveys</th>
                <th>Representative</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var client in ViewBag.Clients)
                {
                    <tr>
                        <td>@client.FirstName</td>
                        <td>@client.LastName</td>
                        <td>@client.Email</td>
                        <td>@client.ZipCode</td>
                        <td>@client.Surveys</td>
                        <td>@client.Owner</td>
                    </tr>
                }
        </tbody>
    </table>

</section>
